<header>
    <nav class="container">
        <div class="brand-section">
            <a href="{{ROOT_PATH}}index.html" class="logo">NBHD Soccer</a>
            <span class="tagline">Nonprofit Community Development Through Soccer</span>
        </div>
        <ul class="nav-links">
            <li><a href="{{ROOT_PATH}}index.html">Home</a></li>
            <li><a href="{{ROOT_PATH}}about/about.html">Our Story</a></li>
            <li class="dropdown">
                <a href="{{ROOT_PATH}}index.html#programs">Our Programs</a>
                <div class="dropdown-content">
                    <a href="{{ROOT_PATH}}programs/rec_77.html">REC 77 - School Programs</a>
                    <a href="{{ROOT_PATH}}index.html#programs">Youth Development</a>
                    <a href="{{ROOT_PATH}}programs/womens.html">Women's Soccer</a>
                    <a href="{{ROOT_PATH}}index.html#programs">Community Building</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="{{ROOT_PATH}}index.html#events">Community Events</a>
                <div class="dropdown-content">
                    <a href="{{ROOT_PATH}}events/pickup.html">⚽ Best Pickup Soccer in Chicago</a>
                    <a href="{{ROOT_PATH}}events/benavidez-tournament.html">🏆 Benavidez Tournament</a>
                    <a href="{{ROOT_PATH}}programs/womens.html#tournament">🏆 Women's Tournament</a>
                    <a href="{{ROOT_PATH}}index.html#events">All Events</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="{{ROOT_PATH}}support/support.html">Support</a>
                <div class="dropdown-content">
                    <a href="{{ROOT_PATH}}support/support.html">Support Our Community</a>
                    <a href="{{ROOT_PATH}}support/partnerships.html">Community Partnerships</a>
                    <a href="{{ROOT_PATH}}support/support.html#donate">Major Giving</a>
                </div>
            </li>
            <li><a href="{{ROOT_PATH}}index.html#contact">Connect</a></li>
        </ul>
        <a href="{{CTA_HREF}}" class="cta-button">{{CTA_TEXT}}</a>
    </nav>
</header>